---
---
<h1>Schedule a Recall Appointment</h1>

<p>
Platinum Recall Team provides mobile automotive recall services at no cost
to dealerships, fleets, or vehicle owners.
</p>

<p>
Use the form below to request service and our team will confirm your
appointment.
</p>

<p>
<strong>All recall work is performed free of charge.</strong>
</p>

<p>
<strong>Service Area:</strong> Texas, Arkansas, Oklahoma, Louisiana, Tennessee, Kentucky,
Missouri, Illinois, Florida, Wisconsin, Indiana
</p>

<p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc52GcK3drkkv27v-3Fs2fS_hRWggdOzPADyS7xV1ryB8Oaug/viewform?embedded=true" width="640" height="1431" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</p>
